In [562]:
import pandas as pd
import os
from glob import glob

In [563]:
CURR_DIR_PATH = "C:/Brights_Projects/MiniProject2"

data_dir = CURR_DIR_PATH + "/data/"
target_dir = CURR_DIR_PATH + "/target/"

In [564]:
def create_concat_file(file_paths, snow_depth, column_names):
    df_list = []
 
    for file_path in file_paths:
        file_df = pd.read_csv(file_path)
        df_list.append(file_df)
 
    concatenated_df = pd.concat(df_list)
    concatenated_df.columns = column_names
    concatenated_df.to_csv(target_dir + f"zip/{snow_depth}_kuopiosnowdepth.csv", index=False)

In [565]:
snow_file_path = glob(data_dir + "Tahko_snow_*")

In [566]:
snow_file_path

['C:/Brights_Projects/MiniProject2/data\\Tahko_snow_1.1.2004_31.12.2013_kuopiosnowdepth.csv',
 'C:/Brights_Projects/MiniProject2/data\\Tahko_snow_1.1.2014_1.12.2024_kuopiosnowdepth.csv']

In [567]:
snow_columns = ["Observation station", "Year", "Month", "Day","Time [Local time]", "Snow depth [cm]"]

In [568]:
create_concat_file(snow_file_path, "kuopio", snow_columns)

In [569]:
def create_concat_file(file_paths, airtemp, column_names):
    df_list = []
 
    for file_path in file_paths:
        file_df = pd.read_csv(file_path)
        df_list.append(file_df)
 
    concatenated_df = pd.concat(df_list)
    concatenated_df.columns = column_names
    concatenated_df.to_csv(target_dir + f"zip/{airtemp}_kuopioairtemp.csv", index=False)

In [570]:
air_file_path = glob(data_dir + "Tahko_air_*")

In [571]:
air_file_path

['C:/Brights_Projects/MiniProject2/data\\Tahko_air_1.1.2004_1.12.2013_kuopioairtemp.csv',
 'C:/Brights_Projects/MiniProject2/data\\Tahko_air_1.1.2014 - 1.12.2024_kuopioairtemp.csv']

In [572]:
air_columns = ["Observation station", "Year", "Month", "Day","Time [Local time]", "Average temperature [°C]"]

In [573]:
create_concat_file(air_file_path, "kuopio", air_columns)

In [574]:
kuopio_snow = pd.read_csv("C:/Brights_Projects/MiniProject2/target/zip/kuopio_kuopiosnowdepth.csv")
kuopio_air = pd.read_csv("C:/Brights_Projects/MiniProject2/target/zip/kuopio_kuopioairtemp.csv")
kuopio_air

,Observation station,Year,Month,Day,Time [Local time],Average temperature [°C]
0,Kuopio Maaninka,2004,1,1,2:00,-21.0
1,Kuopio Maaninka,2004,1,2,2:00,-21.2
2,Kuopio Maaninka,2004,1,3,2:00,-14.8
3,Kuopio Maaninka,2004,1,4,2:00,-11.8
4,Kuopio Maaninka,2004,1,5,2:00,-10.3
...,...,...,...,...,...,...
7586,Kuopio Maaninka,2024,11,27,2:00,4
7587,Kuopio Maaninka,2024,11,28,2:00,3.2
7588,Kuopio Maaninka,2024,11,29,2:00,0.6
7589,Kuopio Maaninka,2024,11,30,2:00,-0.8
7590,Kuopio Maaninka,2024,12,1,2:00,4.3

In [575]:
date_range = pd.date_range(start="2004-01-01", end="2024-12-31", freq="D")
kuopio_snow["Date_range"] = date_range

ValueError: Length of values (7671) does not match length of index (7624)

In [ ]:
date_range = pd.date_range(start="2004-01-01", end="2024-12-31", freq="D")

df = pd.DataFrame(date_range, columns=["Date"])

In [ ]:
kuopio_air["Date"] = pd.to_datetime(kuopio_air[["Year", "Month", "Day"]])
kuopio_air

,Observation station,Year,Month,Day,Time [Local time],Average temperature [°C],Date
0,Kuopio Maaninka,2004,1,1,2:00,-21.0,2004-01-01
1,Kuopio Maaninka,2004,1,2,2:00,-21.2,2004-01-02
2,Kuopio Maaninka,2004,1,3,2:00,-14.8,2004-01-03
3,Kuopio Maaninka,2004,1,4,2:00,-11.8,2004-01-04
4,Kuopio Maaninka,2004,1,5,2:00,-10.3,2004-01-05
...,...,...,...,...,...,...,...
7586,Kuopio Maaninka,2024,11,27,2:00,4,2024-11-27
7587,Kuopio Maaninka,2024,11,28,2:00,3.2,2024-11-28
7588,Kuopio Maaninka,2024,11,29,2:00,0.6,2024-11-29
7589,Kuopio Maaninka,2024,11,30,2:00,-0.8,2024-11-30
7590,Kuopio Maaninka,2024,12,1,2:00,4.3,2024-12-01

In [ ]:
kuopio_air = kuopio_air.drop(["Observation station", "Year", "Month", "Day","Time [Local time]"], axis=1)

In [ ]:
merged_columns = kuopio_snow.merge(kuopio_air, on="Date")
merged_columns

,Observation station,Year,Month,Day,Time [Local time],Snow depth [cm],Date,Average temperature [°C]
0,Kuopio Maaninka,2004,1,1,2:00,21,2004-01-01,-21.0
1,Kuopio Maaninka,2004,1,2,2:00,21,2004-01-02,-21.2
2,Kuopio Maaninka,2004,1,3,2:00,21,2004-01-03,-14.8
3,Kuopio Maaninka,2004,1,4,2:00,21,2004-01-04,-11.8
4,Kuopio Maaninka,2004,1,5,2:00,23,2004-01-05,-10.3
...,...,...,...,...,...,...,...,...
7569,Kuopio Maaninka,2024,11,27,2:00,-1,2024-11-27,4
7570,Kuopio Maaninka,2024,11,28,2:00,-1,2024-11-28,3.2
7571,Kuopio Maaninka,2024,11,29,2:00,-1,2024-11-29,0.6
7572,Kuopio Maaninka,2024,11,30,2:00,-1,2024-11-30,-0.8
7573,Kuopio Maaninka,2024,12,1,2:00,2,2024-12-01,4.3

In [ ]:
def create_concat_file(file_paths, cloud, column_names):
    df_list = []
 
    for file_path in file_paths:
        file_df = pd.read_csv(file_path)
        df_list.append(file_df)
 
    concatenated_df = pd.concat(df_list)
    concatenated_df.columns = column_names
    concatenated_df.to_csv(target_dir + f"zip/{cloud}_kuopiocloud.csv", index=False)

In [ ]:
cloud_file_path = glob(data_dir + "Tahko_cloud_*")

In [ ]:
cloud_columns = ["Observation station", "Year", "Month", "Day","Time [Local time]", "Cloud cover [1/8]"]

In [ ]:
create_concat_file(cloud_file_path, "kuopio", cloud_columns)

In [ ]:
kuopio_cloud = pd.read_csv("C:/Brights_Projects/MiniProject2/target/zip/kuopio_kuopiocloud.csv")
kuopio_cloud

,Observation station,Year,Month,Day,Time [Local time],Cloud cover [1/8]
0,Siilinjärvi Kuopio airport,2015,1,1,0:00,Cloudy (8/8)
1,Siilinjärvi Kuopio airport,2015,1,2,0:00,Cloudy (8/8)
2,Siilinjärvi Kuopio airport,2015,1,3,0:00,Cloudy (8/8)
3,Siilinjärvi Kuopio airport,2015,1,4,0:00,Cloudy (8/8)
4,Siilinjärvi Kuopio airport,2015,1,5,0:00,Mostly cloudy (7/8)
...,...,...,...,...,...,...
156389,Siilinjärvi Kuopio airport,2024,12,27,0:00,Clear (0/8)
156390,Siilinjärvi Kuopio airport,2024,12,28,0:00,Clear (0/8)
156391,Siilinjärvi Kuopio airport,2024,12,29,0:00,Cloudy (8/8)
156392,Siilinjärvi Kuopio airport,2024,12,30,0:00,Mostly cloudy (7/8)
156393,Siilinjärvi Kuopio airport,2024,12,31,0:00,Clear (0/8)

In [ ]:
kuopio_cloud["Date"] = pd.to_datetime(kuopio_cloud[["Year", "Month", "Day"]])
kuopio_cloud

,Observation station,Year,Month,Day,Time [Local time],Cloud cover [1/8],Date
0,Siilinjärvi Kuopio airport,2015,1,1,0:00,Cloudy (8/8),2015-01-01
1,Siilinjärvi Kuopio airport,2015,1,2,0:00,Cloudy (8/8),2015-01-02
2,Siilinjärvi Kuopio airport,2015,1,3,0:00,Cloudy (8/8),2015-01-03
3,Siilinjärvi Kuopio airport,2015,1,4,0:00,Cloudy (8/8),2015-01-04
4,Siilinjärvi Kuopio airport,2015,1,5,0:00,Mostly cloudy (7/8),2015-01-05
...,...,...,...,...,...,...,...
156389,Siilinjärvi Kuopio airport,2024,12,27,0:00,Clear (0/8),2024-12-27
156390,Siilinjärvi Kuopio airport,2024,12,28,0:00,Clear (0/8),2024-12-28
156391,Siilinjärvi Kuopio airport,2024,12,29,0:00,Cloudy (8/8),2024-12-29
156392,Siilinjärvi Kuopio airport,2024,12,30,0:00,Mostly cloudy (7/8),2024-12-30
156393,Siilinjärvi Kuopio airport,2024,12,31,0:00,Clear (0/8),2024-12-31

In [ ]:
kuopio_cloud["cloud_code"] = kuopio_cloud["Cloud cover [1/8]"].fillna("")

In [ ]:
kuopio_cloud["cloud_code"] = (
    kuopio_cloud["cloud_code"]
    .astype(str)  # Convert to string in case of mixed types
    .str.extract(r"(\d+)/\d+")  # Extract the first number before "/"
    .astype(float)  # Convert to float
)
kuopio_cloud

,Observation station,Year,Month,Day,Time [Local time],Cloud cover [1/8],Date,cloud_code
0,Siilinjärvi Kuopio airport,2015,1,1,0:00,Cloudy (8/8),2015-01-01,8.0
1,Siilinjärvi Kuopio airport,2015,1,2,0:00,Cloudy (8/8),2015-01-02,8.0
2,Siilinjärvi Kuopio airport,2015,1,3,0:00,Cloudy (8/8),2015-01-03,8.0
3,Siilinjärvi Kuopio airport,2015,1,4,0:00,Cloudy (8/8),2015-01-04,8.0
4,Siilinjärvi Kuopio airport,2015,1,5,0:00,Mostly cloudy (7/8),2015-01-05,7.0
...,...,...,...,...,...,...,...,...
156389,Siilinjärvi Kuopio airport,2024,12,27,0:00,Clear (0/8),2024-12-27,0.0
156390,Siilinjärvi Kuopio airport,2024,12,28,0:00,Clear (0/8),2024-12-28,0.0
156391,Siilinjärvi Kuopio airport,2024,12,29,0:00,Cloudy (8/8),2024-12-29,8.0
156392,Siilinjärvi Kuopio airport,2024,12,30,0:00,Mostly cloudy (7/8),2024-12-30,7.0
156393,Siilinjärvi Kuopio airport,2024,12,31,0:00,Clear (0/8),2024-12-31,0.0

In [ ]:
kuopio_cloud = kuopio_cloud.groupby("Date", as_index=False).mean(numeric_only=True)
kuopio_cloud

           Date    Year  Month   Day  cloud_code
0    2004-01-01  2004.0    1.0   1.0    0.000000
1    2004-01-02  2004.0    1.0   2.0    5.347222
2    2004-01-03  2004.0    1.0   3.0    6.083333
3    2004-01-04  2004.0    1.0   4.0    7.069444
4    2004-01-05  2004.0    1.0   5.0    7.250000
...         ...     ...    ...   ...         ...
5907 2024-12-27  2024.0   12.0  27.0    0.000000
5908 2024-12-28  2024.0   12.0  28.0    0.000000
5909 2024-12-29  2024.0   12.0  29.0    8.000000
5910 2024-12-30  2024.0   12.0  30.0    7.000000
5911 2024-12-31  2024.0   12.0  31.0    0.000000

[5912 rows x 5 columns]

In [ ]:
#kuopio_cloud["cloud_code"] = merged_columns["Cloud cover [1/8]"].str.extract(r"(\d+)/\d+").astype(float)

In [ ]:
#kuopio_cloud = kuopio_cloud.drop(["Observation station", "Year", "Month", "Day","Time [Local time]"], axis=1)

In [ ]:
#merged_columns = kuopio_snow.merge(kuopio_air, on="Date").merge(kuopio_cloud, on="Date")
#merged_columns

In [ ]:
#merged_columns = merged_columns.drop_duplicates()
#merged_columns.info

In [ ]:
#merged_columns.to_csv(target_dir + "zip/tahko_kuopio_weather.csv", index=False)